.subEntry {
    width: 659px;
    margin: auto;
}

.subEntry:hover {
    width: 719px;
    margin-left: 12px;
}


.subCharacterEntry .characterName {
    width: 179px;
    margin-right: 9px;
}

.subEntry:hover .characterName {
    width: 188px;
    margin-right: 10px;
}


.subEntry .characterNumber:nth-child(4) {
    border-left: 0px;
}

.subEntry .characterNotes {
    width: 200px;
}

.subEntry:hover .characterEntryButtons {
    width: 55px;
    height: 53px;
    border-left: 2px solid black;
    cursor: default;
    margin-left: 12px;
    transition: width 500ms, height 500ms;
}

.subEntry:hover .removeEntryButton {
    width: 28px;
    border-radius: 5px;
    border: 2px solid #a9a9a9;
    margin-left: 12px;
    margin-top: 19px;
    display: block;
    cursor: pointer;
    transition: width 500ms, height 500ms, margin-left 500ms, margin-top 500ms, border 50ms;
}

.subEntry:hover .removeEntryButton:hover { 
    border: 2px solid black;
}

.subCharacterEntry .groupBlank {
    border-left: 2px solid black;
}

.subEntry:hover .groupBlank {
    height: 53px;
}